    /* General */ 
body {
    width: 800px; 
    margin: 0 auto;
}
 /* Typography */

 h1, h2 {
     text-align: center;
 }

 /* block styling */
 body > div {
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;  
     border: 5px solid black;
     display: flex;
 }

 /* form styling */
 main {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     background: url(images/phone_globe.jpg) no-repeat 50% center;
 }

 /* Styling the products */
 .item img {
     width: 200px;
     height: 200px;
 }
 img {
    border: 1px solid #ddd;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    padding: 5px;
    /* Some padding */
    width: 150px;
    /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 5px 1px black;
}